body{
    background-color: #f0bc2e;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    height: 80vh;
    margin: 0;
}

p{
    font-size: x-large;
    text-align: center  ;
    margin-top: 50px;
    font-weight: bolder;
    line-height: 2rem;
}

.destaque {
  background-color: #f02e4e;
  color: #ffffff; 
  padding: 2px 4px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  display: inline-block; 
  transform-origin: center;
}

.destaque:hover {
  transform: scale(1.5);
}
