body{
    background-color: #f0bc2e;
}

p{
    font-size: x-large;
    text-align: center  ;
    margin-top: 50px;
    font-weight: bolder;
    line-height: 2rem;
    margin-top: 40px;
}

.destaque {
  background-color: #f02e4e;
  color: #ffffff; 
  padding: 2px 4px;
  border-radius: 4px;
  transition: all 0.4 ease-in-out;
}



