*{
    color: rgb(255, 255, 255);
    margin: 6px;
}

.anime{
    display: flex;
    align-items: center;
    
}

.filme{
    display: flex;
    align-items: center;
}

.serie{
    display: flex;
    align-items: center;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.navbar-netflix {
      background-color: #161616; 
    }

    
    .navbar-netflix .navbar-brand {
      color: #e50914; 
      font-weight: bold;
      font-size: 1.2rem;
      transition: ease-in-out 0.5s;
    }

    
    .navbar-netflix .nav-link {
      color: #ffffff !important; 
      font-weight: 500;
      transition: ease-in-out 0.5s;
    }

    
    .navbar-netflix .nav-link:hover {
      color: #b3b3b3 !important; 
      transform: scale(1.2);
      
    }

    .navbar-netflix .navbar-brand:hover {
      transform: scale(1.5);
      color: #e50914;
      
    }

    .teste{
      transition: ease-in-out 0.4s;
    }

    .teste:hover{
      transform: scale(1.5);
    }