<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <h1>Bem-vindo a homepage!</h1>
    <hr>
    <div class="anime">
        <img class="teste" src="/imgs/imgA001.png">
        <img src="/imgs/imgA002.png">
        <img src="/imgs/imgA003.png">
        <img src="/imgs/imgA004.png">
        <img src="/imgs/imgA005.png">
    </div>
    <br>
    <div class="filme">
        <img src="/imgs/imgF001.png">
        <img src="/imgs/imgF002.png">
        <img src="/imgs/imgF003.png">
        <img src="/imgs/imgF004.png">
        <img src="/imgs/imgF005.png">
    </div>
    <br>
    <div class="serie">
        <img src="/imgs/imgS001.png">
        <img src="/imgs/imgS002.png">
        <img src="/imgs/imgS003.png">
        <img src="/imgs/imgS004.png">
        <img src="/imgs/imgS005.png">
    </div>    
    <%- include ('partials/footer.ejs') %>