<%- include ('partials/header.ejs') %> <%- include ('partials/navbar.ejs') %>

<h1>Bem-vindo a FatecFlix!</h1>
<hr />

<h3>Animes</h3>
<div id="anime">
  <a href="/animes">
    <img class="capa" src="/imgs/imgA001.png" />
  </a>
  <a href="/animes">
    <img class="capa" src="/imgs/imgA002.png" />
  </a>
  <a href="/animes">
    <img class="capa" src="/imgs/imgA003.png" />
  </a>
  <a href="/animes">
    <img class="capa" src="/imgs/imgA004.png" />
  </a>
  <a href="/animes">
    <img class="capa" src="/imgs/imgA005.png" />
  </a>
</div>
<hr />
<br />
<h3>Filmes</h3>
<div id="filme">
  <a href="/filmes">
    <img class="capa" src="/imgs/imgF001.png" />
  </a>
  <a href="/filmes">
    <img class="capa" src="/imgs/imgF002.png" />
  </a>
  <a href="/filmes">
    <img class="capa" src="/imgs/imgF003.png" />
  </a>
  <a href="/filmes">
    <img class="capa" src="/imgs/imgF004.png" />
  </a>
  <a href="/filmes">
    <img class="capa" src="/imgs/imgF005.png" />
  </a>
</div>
<hr />
<br />
<h3>Séries</h3>
<div id="serie">
  <a href="/series">
    <img class="capa" src="/imgs/imgS001.png" />
  </a>
  <a href="/series">
    <img class="capa" src="/imgs/imgS002.png" />
  </a>
  <a href="/series">
    <img class="capa" src="/imgs/imgS003.png" />
  </a>
  <a href="/series">
    <img class="capa" src="/imgs/imgS004.png" />
  </a>
  <a href="/series">
    <img class="capa" src="/imgs/imgS005.png" />
  </a>
</div>
<%- include ('partials/footer.ejs') %>
